<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VillageSim</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
        .container1 {
            width: 500px;
            margin: 0 auto;
        }
        .form1 {
            width: 500px;
            margin: 20px auto;
            border-radius: 5px;
            background-color: #CCC;
            padding: 10px;
        }

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">VillageSim</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stats">Stats</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/users">Users <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logs">Logs</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="container1">
        <h1>Home</h1>

        <h3>Users</h3>
        <table class="table">
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Balance</th>
                <th>Total Spent</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[3] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="form1">
        <form action="/add-user" method="post">
            <h3>Add user</h3>
            <label for="name-input">Name</label><br>
            <input id="name-input" type="text" name="name"><br>
            <label for="balance-input">Balance</label><br>
            <input id="balance-input" type="text" name="balance"><br>
            <br>
            <div style="text-align: right;">
                <button type="submit" id="save-btn">Save</button>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/knockout.js') }}"></script>
</body>
</html>